<p style="color: green"><%= notice %></p>

<%= render @documentary_film %>

<div>
  <%= link_to "Edit this documentaryfilm", edit_documentary_film_path(@documentary_film) %> |
  <%= link_to "Back to documentaryfilms", documentary_films_path %>

  <%= button_to "Destroy this documentaryfilm", @documentary_film, method: :delete %>
</div>
